/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    background-color: #07012f;
    color: #fff;
  }
  
  .navbar__logo img {
    max-width: 250px;
    height: auto;
  }
  
  .navbar__search input[type="text"] {
    padding: 5px;
    border-radius: 230px;
    border: 1px solid #ccc;
  }
  
  
  .navbar__login button {
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  .navbar__login button:hover {
    background-color: #A7F432;
    color: #000;
    transition: 0.2s;
    transform: scale(1.1);
  }
      